<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MW.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MW.Desktop.Properties.Settings>
            <setting name="ParamGroupingItems" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>1056</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="PanelItems" serializeAs="String">
                <value>EMG_Monitor.slrtip</value>
            </setting>
            <setting name="NumOfTargets" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToolWindowsState" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SandDockLayout Version="1.4.5.2" IncludeDocuments="False"&gt;
  &lt;Window Guid="40152e90-dd47-4f98-a688-5474080f60c1" ContentSize="225" LastFocused="-8585681530864723189" DockedContentSize="200" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Bottom" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,180" DockedWindowGroupGuid="5b62b672-b60f-4f8a-b340-ae40be2eccde" DockedIndexInWindowGroup="0" DockedSplitPath="0" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="c2565912-934b-4713-aa06-72fabb4e812a" ContentSize="225" LastFocused="-8585681455515930195" DockedContentSize="365" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Right" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,180" DockedWindowGroupGuid="5faabb01-a1c7-42fc-98ce-4cdafdf93d1b" DockedIndexInWindowGroup="0" DockedSplitPath="0" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="54b63efb-c77a-4790-a97c-43c7f4038987" ContentSize="225" LastFocused="-8585681455388046029" DockedContentSize="365" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Right" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,47.029249282686" DockedWindowGroupGuid="1325c461-6035-44af-bb5d-eef72c6fdd87" DockedIndexInWindowGroup="0" DockedSplitPath="1" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="9286f71b-9fd0-422a-a96d-cde3bb02d778" ContentSize="225" LastFocused="-8585681452414739576" DockedContentSize="200" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Left" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,180" DockedWindowGroupGuid="959af776-862f-418d-9a0c-5ec24b18aea2" DockedIndexInWindowGroup="0" DockedSplitPath="0" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="406adec2-7d1a-4287-8f4e-f41bf491530d" ContentSize="225" LastFocused="-8585681452468826946" DockedContentSize="200" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Left" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,180" DockedWindowGroupGuid="6e95b44e-2cd7-4d23-a309-f54de8968ce8" DockedIndexInWindowGroup="0" DockedSplitPath="0" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="750997ee-d9ee-4a34-a4c8-ead8bbd8c6ff" ContentSize="225" LastFocused="-8585681454705915682" DockedContentSize="200" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Left" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,180" DockedWindowGroupGuid="a838df1a-10da-47fd-a279-275c40aaa0bf" DockedIndexInWindowGroup="0" DockedSplitPath="0" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;Window Guid="0b9c7d08-1c41-4ffb-a758-701b4ae86944" ContentSize="225" LastFocused="-8585681454209016532" DockedContentSize="365" LastOpenDockSituation="Docked" LastFixedDockSituation="Docked" DockedPosition="Right" LastFloatingWindowGuid="00000000-0000-0000-0000-000000000000" FloatingLocation="" FloatingSize="250,370" LastDockContainerCount="1" LastDockContainerIndex="0" DockedWorkingSize="240,312.970750717314" DockedWindowGroupGuid="cd4afefa-08ea-4c3f-bf90-14eee6286dd4" DockedIndexInWindowGroup="0" DockedSplitPath="2" DocumentWorkingSize="240,180" DocumentWindowGroupGuid="00000000-0000-0000-0000-000000000000" DocumentIndexInWindowGroup="0" DocumentSplitPath="0" FloatingWorkingSize="240,180" FloatingWindowGroupGuid="00000000-0000-0000-0000-000000000000" FloatingIndexInWindowGroup="0" FloatingSplitPath="0" /&gt;
  &lt;DockedSplitContainer Dock="Left" ContentSize="200" SplitterOrientation="Horizontal"&gt;
    &lt;WindowGroup WorkingSize="240,180" Pinned="True" SelectedWindow="9286f71b-9fd0-422a-a96d-cde3bb02d778" Guid="959af776-862f-418d-9a0c-5ec24b18aea2"&gt;
      &lt;Window Guid="9286f71b-9fd0-422a-a96d-cde3bb02d778" /&gt;
    &lt;/WindowGroup&gt;
    &lt;WindowGroup WorkingSize="240,180" Pinned="True" SelectedWindow="406adec2-7d1a-4287-8f4e-f41bf491530d" Guid="6e95b44e-2cd7-4d23-a309-f54de8968ce8"&gt;
      &lt;Window Guid="406adec2-7d1a-4287-8f4e-f41bf491530d" /&gt;
    &lt;/WindowGroup&gt;
  &lt;/DockedSplitContainer&gt;
  &lt;DockedSplitContainer Dock="Right" ContentSize="365" SplitterOrientation="Horizontal"&gt;
    &lt;WindowGroup WorkingSize="240,180" Pinned="True" SelectedWindow="c2565912-934b-4713-aa06-72fabb4e812a" Guid="5faabb01-a1c7-42fc-98ce-4cdafdf93d1b"&gt;
      &lt;Window Guid="c2565912-934b-4713-aa06-72fabb4e812a" /&gt;
    &lt;/WindowGroup&gt;
    &lt;WindowGroup WorkingSize="240,47.029249282686" Pinned="True" SelectedWindow="54b63efb-c77a-4790-a97c-43c7f4038987" Guid="1325c461-6035-44af-bb5d-eef72c6fdd87"&gt;
      &lt;Window Guid="54b63efb-c77a-4790-a97c-43c7f4038987" /&gt;
    &lt;/WindowGroup&gt;
    &lt;WindowGroup WorkingSize="240,312.970750717314" Pinned="True" SelectedWindow="0b9c7d08-1c41-4ffb-a758-701b4ae86944" Guid="cd4afefa-08ea-4c3f-bf90-14eee6286dd4"&gt;
      &lt;Window Guid="0b9c7d08-1c41-4ffb-a758-701b4ae86944" /&gt;
    &lt;/WindowGroup&gt;
  &lt;/DockedSplitContainer&gt;
&lt;/SandDockLayout&gt;</value>
            </setting>
            <setting name="TargetNames" serializeAs="String">
                <value>bossdevice</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Umair2.xly</value>
            </setting>
            <setting name="SignalGroupingItems" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="TcpIpPorts" serializeAs="String">
                <value>22222</value>
            </setting>
            <setting name="TcpIpAddresses" serializeAs="String">
                <value>10.10.10.1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1936</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>141</value>
            </setting>
        </MW.Desktop.Properties.Settings>
    </userSettings>
</configuration>